* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post {
    padding: 8px 16px;
    box-shadow: 1px 1px 5px 0 #ccc;
    border-radius: 2px;
    margin-bottom: 8px;
}

.post p {
    margin-top: 0;
}

.image-link img {
    width: 500px;
}

.popup {
    width: 450px;
    height: 500px;

    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    position: fixed;
    right: 8px;
    bottom: 0;

    background-color: #ddd;
    box-shadow: -1px -1px 5px 0 #ccc;
    border: 1px solid #ddd;

    display: none;
}

.popup__title {
    position: absolute;
    top: 0;
    left: 0;

    padding: 16px 8px;
}

.popup__title__button {
    padding: 8px;
}

.popup__title__close {
    float: left;
}

.question {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 8px;
}

.question input {
    width: calc(100% - 87px);
    height: 32px;
}

.question button {
    width: 80px;
    height: 32px;
}

.answers-container {
    margin-top: 56px;
    padding: 0 8px;
}

.chat__answer, .chat__question {
    text-decoration: none;
    color: #000;
}

.chat__question-p {
    text-align: end;
}